
@media all and (orientation:landscape) {

button {
    font-size: 20px;
}

.inner {
    height: 90vh;
}

table {
    font-size: 18px;
}


    

.swOption {
    font-size: 20px;
    margin: 5px
}
  
.Hmod {
    display: inline
}
  
.Jbtn {
    font-size: 20px;
}

.Vmod {
    display: inline;
    width: 32%;
    margin: 2px 0px 5px 0px;
}
  
#swapDialog {
    font-size: 20px;
    top: auto;
    bottom: 2vh;
    left: 25vw;
}

#goToDiv {
    font-size: 25px;
}
  
.swSubsetV {
    display: inline;
}

.swal-modal {
    width: 70%;
}

.swal-text, .swal-button {
    font-size: 20px;
}
   
.swal-button--confirm {
    font-size: 30px;
}


}
