/*MAIN TABLE STYLES*/
#mainTable {
    --head-th0-bg: #d8e6f3;
    --head-th0-ink: black;

    --head-WDay-bg: #a0afd8;
    --head-WDay-ink: navy;

    --head-HDay-bg: #df4740;
    --head-HDay-ink: #ffffff;

    --fristLastDataCol-bg: Silver;
    --fristLastDataCol-ink: Gray;
    --maxDate-bg: Silver;
    --maxDate-ink: Gray;


    --group1-bg: #ffaeae;
    --group1-day-bg: #ff5f5f;

    --group2-bg: #fce5cd;
    --group2-day-bg: #fa8585;

    --group3-bg: #cce5fd;
    --group3-day-bg: #64c6ff;

    --group4-bg: #E9EEF1;
    --group4-day-bg: #9a9a9a;


    --joker-ink: red;
    --joker-bg: rgba(0, 0, 0, 0.15);

    --zam1-ink: blue;
    --zam0-bg: #ffffff;
    --zam0-ink: #d7d7d7;

    --zamDiv-bg: #1900ff;
    --zamDiv-ink: #00fdff;
    --zamDivEmpty-bg: #ffffff;
    --zamDivEmpty-ink: #1900ff;

    --check-bg: #AFCDE7;
    --check-borderInk: #3e65ff;

    --changed-bg: #0000ff;
    --changed-ink: #ffffff;
    --changed-borderInk: #929192;

}

#mainTable th {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 1;

    border-right-width: 2px;
    padding: 2px 2px;
    font-weight: bold
}

#mainTable #r0c0 {
    top: 0; left: 0;
    z-index: 10;
    background-color: var(--head-th0-bg);
}


#mainTable td {
    min-width: 3em;
    height: 1.7em;
    padding: 2px 2px;
}

#mainTable tr:first-child td {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1;

    background-color: var(--head-WDay-bg);
    color: var(--head-WDay-ink);
}

#mainTable td:nth-child(2), td:last-child {
    background-color: var(--fristLastDataCol-bg) !important;
    color: var(--fristLastDataCol-ink) !important;
}

.maxDate {
    background-color: var(--maxDate-bg) !important;
    color: var(--maxDate-ink) !important
}





.joker {
    position: relative;
    color: var(--joker-ink);
    font-weight: bold;
}
.joker:not(.zam0)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--joker-bg)
}
.zam1 {
    color: var(--zam1-ink);
    font-style: italic;
}


.group1 { background-color: var(--group1-bg); }
.group1-h { background-color: var(--group1-day-bg); }
.group1-day { background-color: var(--group1-day-bg); }

.group2 { background-color: var(--group2-bg); }
.group2-h { background-color: var(--group2-day-bg); }
.group2-day { background-color: var(--group2-day-bg); }

.group3 { background-color: var(--group3-bg); }
.group3-h { background-color: var(--group3-day-bg); }
.group3-day { background-color: var(--group3-day-bg); }

.group4 { background-color: var(--group4-bg); }
.group4-h { background-color: var(--group4-day-bg); }
.group4-day { background-color: var(--group4-day-bg); }

.group5 { background-color: var(--group5-bg); }
.group5-h { background-color: var(--group5-day-bg); }
.group5-day { background-color: var(--group5-day-bg); }


.HDay {
    background-color: var(--head-HDay-bg) !important;
    color: var(--head-HDay-ink) !important;
    font-weight: bold;
}
.zam0 {
    background-color: var(--zam0-bg);
    color: var(--zam0-ink) !important;
}

.zamReq,
.check,
.changed {
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 3px;
    font-style: normal;
}
.zamReq {
    /*     background-color: #929292;
        color: #000000;
        outline-color: #4e4e4e; */
    outline: unset;
    position: relative;
        /* z-index:1; */
}
.zamDiv {
    position: absolute;
    bottom: 0; left: 0;

    height: 100%;
    width: 100%;
    overflow: hidden;

    line-height: 200%;
    text-align: center;

    background-color: var(--zamDiv-bg);
    color: var(--zamDiv-ink);

    animation: change-size 2s linear infinite;
}
.zamDivEmpty {
    background-color: var(--zamDivEmpty-bg);
    color: var(--zamDivEmpty-ink);
}

@keyframes change-size {
    from { height: 90%; }
    50%  { height: 15%; }
    to   { height: 90%; }
}


.check {
    background-color: var(--check-bg) !important;
    outline-color: var(--check-borderInk);
}
.changed {
    background-color: var(--changed-bg);
    color: var(--changed-ink);
    font-weight: bold;
    outline-color: var(--changed-borderInk);
}
/*END MAINTABLE STYLES*/
