
@media all and (orientation:portrait) {
}
html * {max-height:1000000px;}

:root {
    --group1-background: #ffaeae;
    --group11-background: #ffaeae;
    --group1-day-background: #ff5f5f;
    --group1-night-background: #da3d3d;

    --group2-background: #cce5fd;
    --group21-background: #cce5fd;
    --group2-day-background: #64c6ff;
    --group2-night-background: #589de4;

    --td-minWidth: 3em;
    --maxDate-ColsLeft: 10;
}

button {
    font-size: 30px;
    height: 2em
}

.inner {
    overflow-x: scroll;
    overflow-y: visible;

    margin-right: 0.1em;
    margin-top: 1rem;
    width: 98vw;
    height: 90vh;

    border-style: solid;
    border-color: black;
    border-radius: 10px
}


table {
    font-size: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-spacing: 0;
    text-align: center;
    vertical-align: middle;

    width: 100%;
    white-space: nowrap
}

table, th, td {
   border-style: solid;
   border-color: white;
   border-width: 2px
}


th {
   position: sticky;
   position: -webkit-sticky;
   left: 0px;
   z-index: 1;

   border-right-width: 4px;
   padding: 2px 4px;
   font-weight: bold
}

tr:first-child th {
   background-color: #D8E6F3;
   z-index: 10;
   top: 0; left: 0;
}



td {
    min-width: var(--td-minWidth);
    height: 1.7em;

    padding: 2px 2px
}

tr:first-child td {
    position: sticky;
    position: -webkit-sticky;

    top: 0px;
    z-index: 1;

    background-color: #a0afd8;
    color: Navy
}

td:nth-child(2), td:last-child {
    background-color: Silver !important;
    color: Gray !important
}


.maxDate {
    background-color: Silver !important;
    color: Gray !important
}

.curtain {
  position: absolute;
  top: 0;
  min-height: 50em;
  min-width: calc( var(--maxDate-ColsLeft) * var(--td-minWidth) );
  background-color: #1f48ce82;
}



.joker {
    color: red;
}
.zam1 {
    color: blue;
    font-style: italic;
}


.group1 {
    background-color: var(--group1-background);
}
.group1-day {
    background-color: var(--group1-day-background);
}
.group1-night {
    background-color: var(--group1-night-background);
}

.group2 {
    background-color: #cce5fd;
}
.group2-day {
    background-color: var(--group2-day-background);
}
.group2-night {
    background-color: var(--group2-night-background);
}



.group3 {
    background-color: var(--group11-background);
}
.group3-day { background-color:   var(--group1-day-background);}
.group3-night { background-color:   var(--group1-night-background);}

.group4 {
    background-color: var(--group21-background);
}
.group4-day { background-color:   var(--group2-day-background);}
.group4-night { background-color:   var(--group2-night-background);}
/*
.group3 {    background-color: #b0ffa6;}
.group3-day {    background-color: #6fef45;}
.group3-night {    background-color: #1bc320;}

.group4 {    background-color: lemonchiffon;}
.group4-day {    background-color: #fbf77b;}
.group4-night {    background-color: #FFC107;}
*/


.group5 {
    background-color: #E9EEF1;
}
.group5-day {
    background-color: #d8d8d8;
}
.group5-night {
    background-color: #9a9a9a;
}







.HDay {
    background-color: #df4740 !important;
    color: #ffffff !important;
    font-weight: bold;
}
.zam0 {
    background-color: #ffffff;
    color: #d7d7d7 !important;
}



.zamReq, .check, .changed {
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 3px;
}

.zamReq {
    outline: unset;
    position: relative;
}

.zamDiv {
    position: absolute;
    bottom: 0; left: 0;

    height: 100%;
    width: 100%;
    overflow: hidden;

    line-height: 200%;
    text-align: center;

    background-color: #1900ff;
    color: #00fdff;

    animation: change-size 2s linear infinite;
}
.zamDivEmpty {
    background-color: #ffffff;
    color: #1900ff;
}

@keyframes change-size {
    from { height: 90%; }
    50%  { height: 15%; }
    to   { height: 90%; }
}




.check {
    background-color: #AFCDE7 !important;
    outline-color: #3e65ff;
    outline-offset: -3px;
    outline-style: solid;
    outline-width: 5px;
}

.changed {
    background-color: #0000ff;
    color: #ffffff;
    font-weight: bold;
    outline-color: #929192;
    outline-offset: -3px;
    outline-style: solid;
    outline-width: 5px;
}








.btnCheck, .btnCheck:hover {
    background-color: #AFCDE7;
}

.swHead {
    line-height: 150%;
    margin-bottom: -0.2em;
    margin-top: 1em;
    height: 3em;
}

.swOption {
    font-size: 40px;
    display: block;
    width: 15em;
    height: 2em;
    text-align: -webkit-center;
    margin: 15px
}

.Hmod {
    display: inline
}

.Jbtn {
    font-size: 40px;
    display: inline;
    width: 27%;
    height: 2em;
    border-radius: 10px;
    text-align: center;
    margin: 3%
}


.Vmod {
    width: 90%;
}

#swapDialog, #goToDiv {
    position: fixed;
    font-size: 40px;
    width: 17em;
    top: 15vh;
    left: 23vw;

    background: rgba(205, 214, 219, 0.7);

    display: none;

    padding: 10px;

    text-align: -webkit-center;

    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.swSubsetV {
    display: inline-block;
    text-align: center;
    width: 50%;
    margin: auto;
}

.swSubsetH {
    display: block;
    text-align: center;
    margin: auto
}


.swal-modal {
    width: 90%;
}

.swal-text {
    font-size: 2rem;
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}

.swal-title {
    font-size: 2.5rem;
}

.swal-button {
    font-size: 40px
     /*width: 700px;*/
}

.swal-footer {
    text-align: center;
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.swal-button--confirm {
    font-size: 50px;
    padding: 7px 19px;
    border-radius: 7px;
    background-color: #78ef61;
    margin-top: 0.5em;
    border: 1px solid;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

/*GAS CORRECTION*/


button {
    font-size: 30px;
    }

    .swOption {
    font-size: 40px;
    }

    .Jbtn {
    font-size: 40px;
    }

    #swapDialog, #goToDiv {
    font-size: 40px;
    padding: 0.5em;
    }

    .swal-text {
    font-size: 2rem;
    }
    .swal-title, .swal-title:first-child, .swal-title:not(:last-child){
    font-size: 2.5rem;
    }
    .swal-button {
    font-size: 40px;
    }
    .swal-button--confirm {
    font-size: 50px;
    }